<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello EJS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <%- include('header'); %>
        <%- include('nav'); %>
        <main>
            <p>Author: <%= author %></p>
            <% if(user){ %>
                <p><%=user.name %></p>
                <p><%=user.id %></p>
            <% } %>
        </main>
        <%- include('footer'); %>
    </div>
</body>
</html>